<div class="dino-contenedor">
<div class="dino-col-3">
<p class="{pClass00}">{pText00}</p>
</div>
<div class="dino-col-3">
<form class="{formClass00}">
<p class="{pClass01}">{pText01}</p>
<p class="{pClass02}">{pText02}</p>
<p class="{pClass03}"><input class="{inputClass00}" type="{inputType00}" name="{inputName00}" id="{inputId00}"></p>
<p class="{pClass04}">{pText03}</p>
<p class="{pClass05}"><input class="{inputClass01}" type="{inputType01}" name="{inputName01}" id="{inputId01}"></p>
<p class="{pClass06}"><input class="{inputClass02}" type="{inputType02}" value="{inputValue00}" onclick="{inputOnclick00}"></p>
</form>
</div>
<div class="dino-col-3">
<p class="{pClass07}">{pText04}</p>
</div>
</div>

